<app-tool-header [headerText]="headerText"></app-tool-header>

<ul>
  <li *ngFor="let color of colors">
    {{color.name | myuppercase | myappend:'!!!!':'????'}} - {{color.hexcode}}
    <button type="button" (click)="deleteColor(color.id)">X</button>
  </li>
</ul>

<form [formGroup]="colorForm">
  <div>
    <label>
      Color Name
      <input type="text" formControlName="name">
    </label>
  </div>
  <div>
    <label for="hexcode-input">Color Hexcode</label>
    <input type="text" id="hexcode-input" formControlName="hexcode">
  </div>
  <button type="button" (click)="addColor()">Add Color</button>
</form>
