<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let car of cars">
      <tr class="car-edit-row"
        *ngIf="editCarIds.includes(car.id)" [car]="car"
        (saveCar)="saveCar.emit($event)"
        (cancelCar)="cancelCar.emit($event)"
      ></tr>
      <tr class="car-view-row"
        *ngIf="!editCarIds.includes(car.id)" [car]="car"
        (editCar)="editCar.emit($event)"
        (deleteCar)="deleteCar.emit($event)"
      ></tr>
    </ng-container>
  </tbody>
</table>
