/* You can add global styles to this file, and also import other style files */
:root {
  font-family: arial;
}

.page-header, .page-footer {
  background-color: navy;
  color: white;
}

.page-menu {
  background-color: gray;
}

.page-menu a {
  color: white;
  text-decoration: none;
}

.page-menu a:hover {
  text-decoration: underline;
}

.page-sidebar {
  background-color: orange;
}